//COLORS


$primary-darker: #0e293b;
$primary-dark: #1b3d69;
$primary: #1F6CA0;
$primary-light: #3aaacc;
$primary-lighter: #5fc7e7;
$primary-lightest: #aae5f7;

$black: #292A22;

$grey-dark: #52534c;
$grey-light: #939489;

$secondary-dark: #998f68;
$secondary: #DBD0A6;
$secondary-light: #f7eecc;

$white: #fffef5;

//SPACING

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;


//FONTS
$font-title: 'Cabin', sans-serif;
$font-body: 'Roboto', sans-serif;

//FONT-SIZES:
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 24px;

//IN APP VARIABLES
$sidebar-width: 350px;